body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: Kanit;
}
a{
    text-decoration: none;
    color: inherit;
}
.super {
    height: calc(100vh - env(safe-area-inset-top));
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.top {
    position: relative;
    flex:2;
    width: 100%;
    background: rgb(31, 197, 147);
}
.greetings{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20%;
    color: white;
}
.welcome{
    font-size: 1.5em;
}
.app-name{
    font-size: 3em;
}
.wavy-border svg{
    width: 100%;
    fill: rgb(31, 197, 147);
}

.bottom{
    height:auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex:1;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;
}
.options a{
    align-items: center;
    text-align: center;
    background-color: rgb(31, 197, 147);
    padding:10px;
    width:120px;
    border-radius: 30px;
    font-size: 1.2em;
    color: white;
}